.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: cyan;
}

#elso {
    background-color: green;
    width: 25%;
}

#masodik {
    background-color: yellow;
    width: 50%;
}

#harmadik {
    background-color: purple;
    width: 25%;
}
